
<img class="logo" src='https://cdn-images-1.medium.com/max/1200/1*69RcxrWXuk385lSxkIYYLA.png' width='200'>


<div class="estilo">
<div class="media">
    <img class="align-self-center mr-3" [src]="movie.poster" alt="Generic placeholder image" width="300">
    <div class="media-body">
        <h3>Title: {{movie.title}}</h3>
        <h4 class="mt-0">Room: {{movie.room}}</h4>
        <h5>Hours:</h5>
        <ul>
          <li *ngFor="let hour of movie.hours">{{hour}}</li>
        </ul>
        <h5>Actor:</h5>
        <ul>
          <li *ngFor="let actor of movie.actors">{{actor}}</li>
        </ul>
      <h5>Sinopsys: </h5>
      <p>{{movie.synopsis}}</p>
      <a [routerLink] ="['/home']">Volver a Inicio</a>
    </div>
  </div>
  </div>